/* To-Do List */
.to-do-list-container {
	list-style-type: none;
	padding: 0;
	margin-top: 15px;
	display: grid;
	gap: 10px;
}

.to-do-list-container li {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: left;
	padding: 10px;
	background: white;
	border-radius: 5px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
	max-width: 100%;
}

.checkbox {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.task {
	width: 100%;
	font-size: 18px;
	padding: 5px;
	align-self: flex-end;
	border: none;
	background: none;
	word-wrap: break-word;
	white-space: normal;
}

.remove-task-button {
	color: rgb(73, 73, 73);
	font-size: 20px;
	place-self: center;
}

/* Completed Tasks */
.to-do-list-container .completed {
	text-decoration: line-through;
	color: gray;
}

/* Task Filters */
.task-filter {
	font-size: 22px;
	place-self: center;
	color: rgb(73, 73, 73);
}

.task-filter-options {
	display: none;
	position: absolute;
	left: 100%; 
	top: -30px; 
	width: 80px;
	background: white;
	border: 1px solid #ccc;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	padding: 10px;
	border-radius: 5px;
	z-index: 1000;
	transform: translateX(10px); 
	white-space: nowrap;
}

.task-filter-options span {
	display: block;
	margin-bottom: 5px;
}

.task-filter-options span:last-child {
	margin-bottom: 0;
}

.priority-btn {
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding: 5px 10px;
	border-radius: 5px;
	display: block;
	width: 100%;
	text-align: left;
}

li.high-prio-task {
	background-color: #ffb8b4;
	color: white;
}

li.medium-prio-task {
	background-color: #ffde9c;
	color: white;
}

li.low-prio-task {
	background-color: rgb(155, 208, 155);
	color: white;
}